table {
  width: 98%;
  height: 100vh;
  text-align: center;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid;
}

thead {
  height: fit-content; 
}

.daynum{
  height: fit-content;
  text-align: left;
}

.daycontent{
  height: 80%;
  text-align: left;
}
